<div>
<h3 class="text-warning">Chat History</h3>
{{#if messagesCount}}      
    {{#each messagesData}}
        <div class="row ml-1">
            <p><strong>{{dateString}}</strong>---</p>
            <p>{{author.email}}: </p>
            <p>{{text}}---</p>
            <p><strong>{{author.avatar}}</strong></p>
        </div>
    {{/each}}
{{/if}}
</div>  
