<div class="bg-secondary">
    <div> 
    <h2 class="text-warning">Messages</h2>
        <input id="nombre" type="text" class="form-control" placeholder="Nombre">
        <input id="apellido" type="text" class="form-control" placeholder="Apellido">
        <input id="email" type="mail" class="form-control" placeholder="Email">
        <input id="edad" type="number" class="form-control" placeholder="Edad">
        <input id="alias" type="text" class="form-control" placeholder="Alias">
        <input id="avatar" type="text" class="form-control" placeholder="Avatar"> 
        <input id="mensaje" type="text" class="form-control" placeholder="Mensaje">
    <button id="botonEnviarMensaje" class="btn btn-primary">Send</button>
    </div>
</div> 